#name, #container, #title, .mission-statement, ,section-header, .job-title, .organizaiton, .date, .description, .menu, #education, #skills, {
 font-family:"Open Sans",Arial,sans-serif;
 font-size: 1em;
 color: #444
}
div#container {
 width:100%;
 max-width:960;
 margin:0 auto;
 padding-bottom:50px;

}
div#name {
   font-size: 3em;
   color: #33485e;
   text-transform: uppercase;
   font-weight: 700;
   text-align: center;
   margin: 0 auto;
   border-bottom: 1px solid #33485e;
   min-width: 300px;
}
div#title {
 font-size: 1.5em;
 text-transform:uppercase;
 color: #33485e;
 font-weight:7 00;
 text-align: center;
 min-width: 300px;
 margin-top: 20px;
 margin-bottom: 0px;
 margin-left: auto;
 margin-right: auto;
}
div.mission-statement {
 width: 60%;
 min-width: 300px;
 margin-left: auto;
 margin-right: auto;
 margin-top: auto;
 margin-bottom: 30px;
 text-align: center;
}
div.section-header {
 width: 60%;
 max-width: 400px;
 font-weight: 400;
 margin-bottom: 10px;
 margin-top: 20px;
 margin-left: 0px;
 margin-right: 0px
 text-transform: uppercase;
 font-size: 1.5em;
 background-color: #33485e;
 color: white;


}
div.job-title {
 font-weight:700;
 font-size:1.5em;}

div.organization {
 font-weight: 400;
  font-size:1.25em;
  margin-top:2px;
}
div.date {
 font-weight: 400;
 font-size: 1em;
 font-style: italic;
  margin-top: 2px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}
div.discription {
 margin-top: 10px;
 margin-bottom: 20px;
 margin-left: 0px;
 margin-right: 0px;
}
div.menu {
 margin: 0px;
 padding: 0px;
 text-align: center;

}
div#education {
 margin-top: 40px;
 margin-bottom: 0px;
 margin-left: 0px;
 margin-right: 0px;
}
div#skills {
 margin-top:40px;
 margin-bottom: 0px;
 margin-left: 0px;
 margin-right: 0px;
}
