 .date{
  color: #1DA1F2;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}

#Skills {
 font-weight: bold;
 font-style: normal;
 font-size: 40px;
}

#Experience{
 font-weight: bold;
 font-style: normal;
 font-size: 40px;
}

#Education{
 font-weight: bold;
 font-style: normal;
 font-size: 40px;
}


#Contact{
 font-size: 40px;
 font-style: normal;
 font-weight: bold;
 }

p{
 font-family: "Times New Roman," Times, serif;
 font-style: normal;
}

h3{
 font-weight: bold;
 font-family: "Times New Roman," Times, serif;
}

h4{
 font-family: "Times New Roman," Times, serif;
}



.progress {
   position: relative;
 height: 25px;
}
.progress > .progress-type {
 position: absolute;
 left: 0px;
 font-weight: 800;
 padding: 3px 30px 2px 10px;
}
.progress > .progress-completed {
 position: absolute;
 right: 0px;
 font-weight: 800;
 padding: 3px 10px 2px;
}
.progress-bar{
  background-color: #1DA1F2;
}

.email{
  color: #1DA1F2;
  align-item: top;

}

.fa-5x {
  color:#1DA1F2;
}

@media only screen and (max-width: 600px;) {
 #Education {
   font-size: 30px;
