.navbar {
font-family: 'Montserrat';
}
.byline{
font-size: 2.5em;
font-family: 'Montserrat';
text-align: center;
}

h1{
font-family: 'Montserrat';
font-size: 3em;
text-align: center;
}

#Interview {
font-size: 1.5em;
font-family: 'Montserrat';
text-align: center;
color: blue;
}

#Stress{
 font-size: 1.5em;
 font-family: 'Montserrat';
 text-align: center;
 color: blue;
 }

#Services{
 font-size: 1.5em;
 font-family: 'Montserrat';
 text-align: center;
 color: blue;
}

h4{
 font-size: 1.5em;
 font-family: 'Montserrat';
 text-align: center;
 color: blue;
}

h3{
 text-align: center;
 font-family: 'Montserrat';
 font-size: 1.5em;
 color: black;
}

h5{
 font-size: 1em;
 font-family: 'Montserrat';
 text-align: center;
}

.interviewee{
 display: block;
 text-align: center;
 margin-left: auto;
 margin-right: auto;
}

.Video {
text-align: center;
margin-left: auto;
margin-right: auto;
display: block;
}

.map{
 text-align: center;
 margin-left: auto;
 margin-right: auto;
 display: block;
}
.building {
text-align: center;
margin-left: auto;
margin-right: auto;
display: block;
}

p{
line-height:180%;
font-family: "Georigia";
color: black;
font-size: 1.25em;
text-align: left; 
}

ul.navbar-nav {
margin-left: auto;
}

.nav{
font-family: 'Montserrat';
color: white;
font-size: 1.25em;
}


.bg-dark {
background:#000 !important;
}

.caption{
font-family: 'Montserrat';
color:#999;
text-align: center;
}

.column {
 float: left;
 width: 33.33%;
 padding: 5px;
 margin: auto;
}

.col-12{
font-family: 'Montserrat';
color: white;
padding: 25px;
background-color: black;
text-align: center;
display: block;
}


.graphic-container {
font-family: 'Georigia';
width: 45%;
height: 500;
text-align: center;
margin-top:24px;
margin-bottom: 24px;
margin-right: auto;
margin-left: auto;
}

.body{
 font-family: 'Georigia';
}


.container{
margin-top: 24px;
margin-bottom: 24px;
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}


/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1199px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 991px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 768px) {

}
