
#content {
  margin: 0 auto;
  max-width: 900px;
}
#byline {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-style: italic;
}

h1{
   font-family: Helvetica, sans-serif;
   font-size: 36px;
}

p{
  font-family: Georgia, serif;
  font-size: 18px;
}

blockquote{
  font: 16px/24px normal helvetica, sans-serif;
  font-style: italic;
  margin-top: 15px;
  margin-right: 40px;
  margin-bottom: 15px;
  margin-left: 50px;
  color: red;
  padding-left: 15px;
  border-left: 4px solid #ccc;
  width: 100%;
  max-width: 300px;
  float: left;
}
